WeatherFlow Tempest - NodeRED Flow.txt
[
    {
        "id": "19cef663.c9958a",
        "type": "tab",
        "label": "WeatherFlow Tempest UDP + REST API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d7c1baa0.66b138",
        "type": "udp in",
        "z": "19cef663.c9958a",
        "name": "Tempest PWS",
        "iface": "",
        "port": "50222",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "17716bb3.e50f14"
            ]
        ]
    },
    {
        "id": "17716bb3.e50f14",
        "type": "json",
        "z": "19cef663.c9958a",
        "name": "jsonconverter",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 300,
        "y": 1720,
        "wires": [
            [
                "a54a33a9.d2bfa"
            ]
        ],
        "inputLabels": [
            "udpIn"
        ],
        "outputLabels": [
            "jsonOut"
        ]
    },
    {
        "id": "ab6736d8.03a7f8",
        "type": "switch",
        "z": "19cef663.c9958a",
        "name": "Payload Divider",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "obs_st",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rapid_wind",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device_status",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hub_status",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1280,
        "y": 1740,
        "wires": [
            [
                "a52725f2.01fb58"
            ],
            [
                "a8b14ec3.b54b7"
            ],
            [
                "a0f83bae.c5bd58"
            ],
            [
                "4b8389de.9863f8"
            ]
        ],
        "inputLabels": [
            "jsonIn"
        ],
        "outputLabels": [
            "Station Metrics",
            "Wind Realtime",
            "Station Status",
            "Hub Status"
        ]
    },
    {
        "id": "f03b367.1c5c8c8",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Speed RT (km/h)",
        "func": "msg.windrt = Number((msg.payload * 3.6).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3120,
        "y": 1880,
        "wires": [
            [
                "dc73c88d.5d2df8"
            ]
        ],
        "outputLabels": [
            "mph"
        ]
    },
    {
        "id": "8add765d.e86638",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Pressure (mbar)",
        "func": "msg.pressure = Number((msg.payload || 0).toFixed(0));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2640,
        "y": 760,
        "wires": [
            [
                "25c5ae97.8f9c32"
            ]
        ]
    },
    {
        "id": "3131056a.add42a",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Temperature (°C)",
        "func": "msg.payload = Number((msg.payload || 0).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2650,
        "y": 820,
        "wires": [
            [
                "fe04c4d2.5d7bd8",
                "ff74b109.2567",
                "54ac0440.54c25c"
            ]
        ]
    },
    {
        "id": "f5f19e9c.456f",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Humidity (%H)",
        "func": "msg.payload = Number((msg.payload || 0).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2640,
        "y": 1240,
        "wires": [
            [
                "7643895b.8ed9f8",
                "ff74b109.2567"
            ]
        ]
    },
    {
        "id": "83341290.66a23",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Lightning Count",
        "func": "msg.lcount = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2640,
        "y": 1820,
        "wires": [
            [
                "b6d11d5c.48bbb"
            ]
        ]
    },
    {
        "id": "74bafa05.89dfa4",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Lightning Distance (km)",
        "func": "msg.ldist = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2670,
        "y": 1760,
        "wires": [
            [
                "5a111e3e.697f4"
            ]
        ]
    },
    {
        "id": "e869fe3f.e670d",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Battery (V)",
        "func": "volt = Number((msg.payload).toFixed(2));\nmsg.volt = volt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2630,
        "y": 1620,
        "wires": [
            [
                "7fcdcc44.716904"
            ]
        ]
    },
    {
        "id": "f6f1e606.0589f8",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Illuminance (Lux)",
        "func": "msg.ill = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2650,
        "y": 1300,
        "wires": [
            [
                "65e79bdb.db3d34"
            ]
        ]
    },
    {
        "id": "d46a09e4.ddd888",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "UV Index",
        "func": "msg.uv = Number((msg.payload).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2620,
        "y": 1380,
        "wires": [
            [
                "9c17a941.f66ce8"
            ]
        ]
    },
    {
        "id": "dcc84006.74afd",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Solar Radiation (W/m^2)",
        "func": "msg.rad = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2670,
        "y": 1460,
        "wires": [
            [
                "7c0eda44.c282b4",
                "1ae1e5c.961a21a"
            ]
        ]
    },
    {
        "id": "f5692ff8.bc997",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Speed (km/h)",
        "func": "msg.payload = Number((msg.payload * 3.6).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2650,
        "y": 220,
        "wires": [
            [
                "6bae3c59.c64244",
                "b4f0663.ce23298",
                "54ac0440.54c25c"
            ]
        ]
    },
    {
        "id": "37b3e764.555248",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Gust (km/h)",
        "func": "msg.gust = Number((msg.payload * 3.6).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2650,
        "y": 580,
        "wires": [
            [
                "326b22d7.6298be"
            ]
        ]
    },
    {
        "id": "e3df819.767148",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Dir RT (°)",
        "func": "msg.dirrt = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3100,
        "y": 1940,
        "wires": [
            [
                "b2ece18c.83dc7",
                "c8d34827.3c7808"
            ]
        ],
        "outputLabels": [
            "degrees"
        ]
    },
    {
        "id": "7ea2ea8a.501584",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Sensor Status",
        "func": "binaryStr = Number(msg.payload).toString(2);\n\nif(binaryStr.length < 9)\n{\n while(binaryStr.length < 9) \n {\n  binaryStr = \"0\" + binaryStr;\n }\n}\nelse if(binaryStr.length > 9)\n{\n  binaryStr = binaryStr.slice(-9);\n}\nelse if(binaryStr.length == 9)\n{\n  binaryStr = binaryStr;\n}\nmsg.payload = binaryStr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3180,
        "y": 2320,
        "wires": [
            [
                "f285f56.fffd308",
                "105ae549.80fa2b"
            ]
        ]
    },
    {
        "id": "5f9f6fe1.24b1e",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Lull (km/h)",
        "func": "msg.lull = Number((msg.payload * 3.6).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2640,
        "y": 160,
        "wires": [
            [
                "328fb3f1.8ddddc"
            ]
        ]
    },
    {
        "id": "325e9b3f.c66e24",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Dir (°)",
        "func": "msg.dir = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2630,
        "y": 640,
        "wires": [
            [
                "a88477e2.da0688",
                "c7dbde55.8da4d"
            ]
        ]
    },
    {
        "id": "f392d1a.ae5f03",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Precipitazioni (Tipo)",
        "func": "type = msg.payload;\nvar t = \"\";\n  if (type==0)\n  {\n    t = \"Nessuna\";\n  }\n  else if (type==1)\n  {\n    t = \"Pioggia\";\n  }\n  else if (type==2)\n  {\n    t = \"Grandine\";\n  }\nmsg.rtype = t;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2650,
        "y": 1700,
        "wires": [
            [
                "2992505e.a275a"
            ]
        ]
    },
    {
        "id": "f285f56.fffd308",
        "type": "split",
        "z": "19cef663.c9958a",
        "name": "Binary Splitter",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 3580,
        "y": 2320,
        "wires": [
            [
                "c8f7af71.428c3"
            ]
        ]
    },
    {
        "id": "c8f7af71.428c3",
        "type": "switch",
        "z": "19cef663.c9958a",
        "name": "Sensors Status",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 3980,
        "y": 2320,
        "wires": [
            [
                "2d9d9afc.f86876"
            ],
            [
                "da3a4f32.5b1da"
            ],
            [
                "24e45ec.d1893a2"
            ],
            [
                "813196b3.0aaf08"
            ],
            [
                "9835ca36.fc7c18"
            ],
            [
                "fdf449c9.e23f88"
            ],
            [
                "ffdef134.3ea13"
            ],
            [
                "eaf5cbd1.d3ee38"
            ],
            [
                "d0d6698c.29dd18"
            ]
        ],
        "outputLabels": [
            "Lightning Failed",
            "Lightning Noise",
            "Lightning Disturber",
            "Pressure Failed",
            "Temperature Failed",
            "Humidity Failed",
            "Wind Failed",
            "Rain Failed",
            "Light Failed"
        ]
    },
    {
        "id": "328fb3f1.8ddddc",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Lull",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Bonaccia"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:windsock"
            },
            {
                "property": "unit_of_measurement",
                "value": "km/h"
            }
        ],
        "state": "lull",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 160,
        "wires": [
            [
                "fa4d5ec0.1a6a8"
            ]
        ]
    },
    {
        "id": "6bae3c59.c64244",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Speed",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Velocità del Vento"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:weather-windy"
            },
            {
                "property": "unit_of_measurement",
                "value": "km/h"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 220,
        "wires": [
            [
                "241abd3c.7ff6f2"
            ]
        ]
    },
    {
        "id": "326b22d7.6298be",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Gust",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Raffiche"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:windsock"
            },
            {
                "property": "unit_of_measurement",
                "value": "km/h"
            }
        ],
        "state": "gust",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 580,
        "wires": [
            [
                "86f4b776.2c3948"
            ]
        ]
    },
    {
        "id": "a88477e2.da0688",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Dir",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Direzione del Vento"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:compass-outline"
            },
            {
                "property": "unit_of_measurement",
                "value": "°"
            }
        ],
        "state": "dir",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 640,
        "wires": [
            [
                "9212cf7.0572a3"
            ]
        ]
    },
    {
        "id": "dc73c88d.5d2df8",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Speed RT",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Velocità del Vento RT"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:weather-windy"
            },
            {
                "property": "unit_of_measurement",
                "value": "km/h"
            }
        ],
        "state": "windrt",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 1880,
        "wires": [
            [
                "fd4fe758.735c08"
            ]
        ]
    },
    {
        "id": "b2ece18c.83dc7",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Dir RT",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Direzione del Vento RT"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:compass-outline"
            },
            {
                "property": "unit_of_measurement",
                "value": "°"
            }
        ],
        "state": "dirrt",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 1940,
        "wires": [
            [
                "89cac872.b9a128"
            ]
        ]
    },
    {
        "id": "25c5ae97.8f9c32",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Pressure",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Pressione Atmosferica"
            },
            {
                "property": "device_class",
                "value": "pressure"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "mbar"
            }
        ],
        "state": "pressure",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "merge",
        "x": 3580,
        "y": 760,
        "wires": [
            [
                "e7e32174.8bb93"
            ]
        ]
    },
    {
        "id": "fe04c4d2.5d7bd8",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Temperature",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Temperatura"
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 820,
        "wires": [
            [
                "6213508f.e3c4e"
            ]
        ]
    },
    {
        "id": "7643895b.8ed9f8",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Humidity",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Umidità"
            },
            {
                "property": "device_class",
                "value": "humidity"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "%H"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 1240,
        "wires": [
            [
                "7b573371.86229c"
            ]
        ]
    },
    {
        "id": "65e79bdb.db3d34",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Illuminance",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Luminosità"
            },
            {
                "property": "device_class",
                "value": "illuminance"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "lux"
            }
        ],
        "state": "ill",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 1300,
        "wires": [
            [
                "347e24f2.fad28c"
            ]
        ]
    },
    {
        "id": "3bf62651.68840a",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "UV Index",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Indice UV"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:shield-sun-outline"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "uv",
        "stateType": "msg",
        "attributes": [
            {
                "property": "esposizione",
                "value": "uvi",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 1380,
        "wires": [
            [
                "3895eef5.ae8b72",
                "703bfdfa.28dd74"
            ]
        ]
    },
    {
        "id": "7c0eda44.c282b4",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Solar Radiation",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Irraggiamento"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:solar-power"
            },
            {
                "property": "unit_of_measurement",
                "value": "W/m^2"
            }
        ],
        "state": "rad",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 1460,
        "wires": [
            [
                "b3a8e94e.5de848"
            ]
        ]
    },
    {
        "id": "b9cd403d.36f3d",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Battery Perc",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Batteria"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "%"
            }
        ],
        "state": "batperc",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 1580,
        "wires": [
            [
                "c53ba2b1.ef209"
            ]
        ]
    },
    {
        "id": "7a31e985.f62d98",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Tempest S/N",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Station S/N"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:barcode"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 2060,
        "wires": [
            [
                "6254bf5.ebeed4"
            ]
        ]
    },
    {
        "id": "87d68520.4d4aa8",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Hub S/N",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Hub S/N"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:qrcode"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 2460,
        "wires": [
            [
                "9b8ada6e.1a71b8"
            ]
        ]
    },
    {
        "id": "2d9d9afc.f86876",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "LIGHTNING FAILED",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Avaria Sensore Fulmini"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:image-broken-variant"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4280,
        "y": 2080,
        "wires": [
            [
                "4b452e58.42caf"
            ]
        ]
    },
    {
        "id": "da3a4f32.5b1da",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "LIGHTNING NOISE",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Rumore Sensore Fulmini"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:vibrate"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4270,
        "y": 2140,
        "wires": [
            [
                "d2b33f20.c6fbf"
            ]
        ]
    },
    {
        "id": "24e45ec.d1893a2",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "LIGHTNING DISTURBER",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Disturbo Sensore Fulmini"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:car-light-high"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4290,
        "y": 2200,
        "wires": [
            [
                "b2d4eee3.74ef4"
            ]
        ]
    },
    {
        "id": "813196b3.0aaf08",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "PRESSURE FAILED",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Avaria Sensore Pressione"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:image-broken-variant"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4280,
        "y": 2260,
        "wires": [
            [
                "105bf7d1.084a88"
            ]
        ]
    },
    {
        "id": "9835ca36.fc7c18",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "TEMPERATURE FAILED",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Avaria Sensore Temperatura"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:image-broken-variant"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4290,
        "y": 2320,
        "wires": [
            [
                "dec13a9c.7a2248"
            ]
        ]
    },
    {
        "id": "fdf449c9.e23f88",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "HUMIDITY FAILED",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Avaria Sensore Umidità"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:image-broken-variant"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4270,
        "y": 2380,
        "wires": [
            [
                "d19f4533.f2b7f8"
            ]
        ]
    },
    {
        "id": "ffdef134.3ea13",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "WIND FAILED",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Avaria Sensore Vento"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:image-broken-variant"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4260,
        "y": 2440,
        "wires": [
            [
                "1e196341.bb5bfd"
            ]
        ]
    },
    {
        "id": "eaf5cbd1.d3ee38",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "RAIN FAILED",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Avaria Sensore Pioggia"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:image-broken-variant"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4250,
        "y": 2500,
        "wires": [
            [
                "78e38e12.84338"
            ]
        ]
    },
    {
        "id": "d0d6698c.29dd18",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "LIGHT FAILED",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Avaria Sensore Luce/UV"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": "mdi:image-broken-variant"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 4260,
        "y": 2560,
        "wires": [
            [
                "569c18c7.a4d368"
            ]
        ]
    },
    {
        "id": "b4f0663.ce23298",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Beaufort Calculus",
        "func": "msg.bf = Math.round(Math.cbrt(Math.pow(msg.payload,2)/9));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2990,
        "y": 300,
        "wires": [
            [
                "e65622e3.4b513"
            ]
        ]
    },
    {
        "id": "7ce1a0b3.ac9d7",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Beaufort Index",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Indice Beaufort"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:tailwind"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "bf",
        "stateType": "msg",
        "attributes": [
            {
                "property": "condizione",
                "value": "state",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 300,
        "wires": [
            [
                "a2367f21.5bebc",
                "12792260.53399e"
            ]
        ]
    },
    {
        "id": "3da00adf.b971d6",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Dew Point Calculus",
        "func": "var a = 17.271;\nvar b = 237.7;\nvar temp = Math.log(msg.payload[1] * 0.01) + ((a * msg.payload[0]) / (b + msg.payload[0]));\nvar Td = (b * temp) / (a - temp);\nmsg.dp = Number(Td.toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3130,
        "y": 1180,
        "wires": [
            [
                "25e548c9.8b7808"
            ]
        ]
    },
    {
        "id": "25e548c9.8b7808",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Dew Point",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Punto di Rugiada"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:water"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            }
        ],
        "state": "dp",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 1180,
        "wires": [
            [
                "77e87827.7b4ae8"
            ]
        ]
    },
    {
        "id": "18957883.c30c07",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Thom Index",
        "func": "var temp = msg.payload[0];\nvar hum = msg.payload[1];\nTHI = temp - (0.55 - 0.0055 * hum) * (temp - 14.5);\nmsg.thi = Number(THI.toFixed(1));\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3110,
        "y": 1100,
        "wires": [
            [
                "14b65789.bc2658"
            ]
        ]
    },
    {
        "id": "e0dda310.d0fd",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Thom Index",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Thom Index"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:cow"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            }
        ],
        "state": "thi",
        "stateType": "msg",
        "attributes": [
            {
                "property": "condizione",
                "value": "state",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 1100,
        "wires": [
            [
                "9caea6dd.b74268",
                "733184d7.90283c"
            ]
        ]
    },
    {
        "id": "419729a3.73e9b8",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Heat Index",
        "func": "var temp = msg.payload[0] * 1.8 + 32;\nvar hum = msg.payload[1];\nif (msg.payload[0] >= 24)\n{\n hi = 0.5 * (temp + 61.0 + ((temp - 68.0) * 1.2) + (hum * 0.094));\n if (hi > 79) \n   {\n    hi = -42.379 + 2.04901523 * temp + 10.14333127 * hum + -0.22475541 * temp * hum + -0.00683783 * Math.pow(temp, 2) + -0.05481717 * Math.pow(hum, 2) + 0.00122874 * Math.pow(temp, 2) * hum + 0.00085282 * temp * Math.pow(hum, 2) + -0.00000199 * Math.pow(temp, 2) * Math.pow(hum, 2);\n    if((hum < 13) && (temp >= 80.0) && (temp <= 112.0))\n      hi -= ((13.0 - hum) * 0.25) * Math.sqrt((17.0 - Math.abs(temp - 95.0)) * 0.05882);\n    else if((hum > 85.0) && (temp >= 80.0) && (temp <= 87.0))\n       hi += ((hum - 85.0) * 0.1) * ((87.0 - temp) * 0.2);\n   }\n msg.hi = Number(((hi - 32) / 1.8).toFixed(1));\n}\nelse\n{\n msg.hi = \"n.d.\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3110,
        "y": 1000,
        "wires": [
            [
                "579b1f0.cce8ae"
            ]
        ]
    },
    {
        "id": "6b4c64d8.dca50c",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Indice di Calore",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Indice di Calore"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:weather-sunny-alert"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            }
        ],
        "state": "hi",
        "stateType": "msg",
        "attributes": [
            {
                "property": "condizione",
                "value": "state",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 1000,
        "wires": [
            [
                "2d075b48.48dbe4",
                "abc58eea.fa4c8"
            ]
        ]
    },
    {
        "id": "611d14cd.07ce4c",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Chill - Old Formula",
        "func": "var W = msg.payload[0];\nvar T = msg.payload[1];\nvar a = Math.sqrt(W);\nWCI = 33 - (33 - T) * (0.474266 + 0.453843 * a - 0.0453843 * W);\nmsg.payload = Number(WCI.toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3150,
        "y": 500,
        "wires": [
            [
                "9e603724.3ff218"
            ]
        ]
    },
    {
        "id": "687b31e9.02001",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Chill - New Formula",
        "func": "var W = msg.payload[0];\nvar Ta = msg.payload[1];\nvar a = Math.pow(W, 0.16);\nWCI = (13.12 + 0.6215 * Ta) - (11.37 * a) + (0.3965 * Ta * a);\nif (W < 3.7)\n{\n msg.wci = \"n.d.\";\n}\nelse\n{\n msg.wci = Number(WCI.toFixed(1));\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3150,
        "y": 400,
        "wires": [
            [
                "b778281.aa2efd8"
            ]
        ]
    },
    {
        "id": "755a7d1a.d6a0e4",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Chill",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Wind Chill"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:thermometer-chevron-down"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            }
        ],
        "state": "wci",
        "stateType": "msg",
        "attributes": [
            {
                "property": "condizione",
                "value": "state",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 400,
        "wires": [
            [
                "f63cc653.250788",
                "ac07dc1f.ea25d"
            ]
        ]
    },
    {
        "id": "31ae7faa.afcc3",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Humidex",
        "func": "var Ta = msg.payload[0];\nvar UR = msg.payload[1];\nif (Ta < 20)\n{\n msg.udx = \"n.d.\";\n}\nelse\n{\n k1 = Math.pow(10, (7.5 * Ta / (237.7 + Ta)));\n k = 6.112 * k1 * UR / 100;\n Umidex = 1 * Ta + 0.5555 * (k - 10);\n msg.udx = Number(Umidex.toFixed(1));\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3100,
        "y": 900,
        "wires": [
            [
                "800c9282.2caab"
            ]
        ]
    },
    {
        "id": "f71defa8.49a07",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Humidex",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Umidex"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:format-header-pound"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            }
        ],
        "state": "udx",
        "stateType": "msg",
        "attributes": [
            {
                "property": "condizione",
                "value": "state",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 900,
        "wires": [
            [
                "409796a8.537c38",
                "1a3e346b.275c4c"
            ]
        ]
    },
    {
        "id": "105ae549.80fa2b",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "SENSORS STATUS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3410,
        "y": 2260,
        "wires": []
    },
    {
        "id": "2992505e.a275a",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Precipitation Type",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Tipo Precipitazione"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:weather-snowy-rainy"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "rtype",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3610,
        "y": 1700,
        "wires": [
            [
                "2fd84226.67ad2e"
            ]
        ]
    },
    {
        "id": "c7dbde55.8da4d",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Cardinal",
        "func": "deg = msg.dir;\nvar dir = \"\";\n  if (deg>11.25 && deg<=33.75)\n  {\n    dir = \"NNE\";\n  }\n  else if (deg>33.75 && deg<=56.25)\n  {\n    dir = \"ENE\";\n  }\n  else if (deg>56.25 && deg<=78.75)\n  {\n    dir = \"E\";\n  }\n  else if (deg>78.75 && deg<=101.25)\n  {\n    dir = \"ESE\";\n  }\n  else if (deg>101.25 && deg<=123.75)\n  {\n    dir = \"ESE\";\n  }\n  else if (deg>123.75 && deg<=146.25)\n  {\n    dir = \"SE\";\n  }\n  else if (deg>146.25 && deg<=168.75)\n  {\n    dir = \"SSE\";\n  }\n  else if (deg>168.75 && deg<=191.25)\n  {\n    dir = \"S\";\n  }\n  else if (deg>191.25 && deg<=213.75)\n  {\n    dir = \"SSW\";\n  }\n  else if (deg>213.75 && deg<=236.25)\n  {\n    dir = \"SW\";\n  }\n  else if (deg>236.25 && deg<=258.75)\n  {\n    dir = \"WSW\";\n  }\n  else if (deg>258.75 && deg<=281.25)\n  {\n    dir = \"W\";\n  }\n  else if (deg>281.25 && deg<=303.75)\n  {\n    dir = \"WNW\";\n  }\n  else if (deg>303.75 && deg<=326.25)\n  {\n    dir = \"NW\";\n  }\n  else if (deg>326.25 && deg<=348.75)\n  {\n    dir = \"NNW\";\n  }\n  else\n  {\n    dir = \"N\"; \n  }\nmsg.payload = dir;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3120,
        "y": 700,
        "wires": [
            [
                "99789621.984ec8"
            ]
        ]
    },
    {
        "id": "c8d34827.3c7808",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Wind Cardinal RT",
        "func": "deg = msg.dirrt;\nvar dir = \"\";\n  if (deg>11.25 && deg<=33.75)\n  {\n    dir = \"NNE\";\n  }\n  else if (deg>33.75 && deg<=56.25)\n  {\n    dir = \"ENE\";\n  }\n  else if (deg>56.25 && deg<=78.75)\n  {\n    dir = \"E\";\n  }\n  else if (deg>78.75 && deg<=101.25)\n  {\n    dir = \"ESE\";\n  }\n  else if (deg>101.25 && deg<=123.75)\n  {\n    dir = \"ESE\";\n  }\n  else if (deg>123.75 && deg<=146.25)\n  {\n    dir = \"SE\";\n  }\n  else if (deg>146.25 && deg<=168.75)\n  {\n    dir = \"SSE\";\n  }\n  else if (deg>168.75 && deg<=191.25)\n  {\n    dir = \"S\";\n  }\n  else if (deg>191.25 && deg<=213.75)\n  {\n    dir = \"SSW\";\n  }\n  else if (deg>213.75 && deg<=236.25)\n  {\n    dir = \"SW\";\n  }\n  else if (deg>236.25 && deg<=258.75)\n  {\n    dir = \"WSW\";\n  }\n  else if (deg>258.75 && deg<=281.25)\n  {\n    dir = \"W\";\n  }\n  else if (deg>281.25 && deg<=303.75)\n  {\n    dir = \"WNW\";\n  }\n  else if (deg>303.75 && deg<=326.25)\n  {\n    dir = \"NW\";\n  }\n  else if (deg>326.25 && deg<=348.75)\n  {\n    dir = \"NNW\";\n  }\n  else\n  {\n    dir = \"N\"; \n  }\nmsg.payload = dir;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3370,
        "y": 2000,
        "wires": [
            [
                "e8c18dad.a414d"
            ]
        ]
    },
    {
        "id": "99789621.984ec8",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Cardinal",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Cardinale"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:compass-rose"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 700,
        "wires": [
            [
                "b1d6104d.c790c"
            ]
        ]
    },
    {
        "id": "e8c18dad.a414d",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Wind Cardinal RT",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Cardinale RT"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:compass-rose"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3610,
        "y": 2000,
        "wires": [
            [
                "ad00abce.22edd8"
            ]
        ]
    },
    {
        "id": "e65622e3.4b513",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "BF Desc",
        "func": "i = msg.bf;\nvar gr = \"\";\n  if (i == 0)\n  {\n    gr = \"Calma\";\n  }\n  else if (i == 1)\n  {\n    gr = \"Bava di Vento\";\n  }\n  else if (i == 2)\n  {\n    gr = \"Brezza Leggera\";\n  }\n  else if (i == 3)\n  {\n    gr = \"Brezza\";\n  }\n  else if (i == 4)\n  {\n    gr = \"Brezza Vivace\";\n  }\n  else if (i == 5)\n  {\n    gr = \"Brezza Tesa\";\n  }\n  else if (i == 6)\n  {\n    gr = \"Vento Fresco\";\n  }\n  else if (i == 7)\n  {\n    gr = \"Vento Forte\";\n  }\n  else if (i == 8)\n  {\n    gr = \"Burrasca Moderata\";\n  }\n  else if (i == 9)\n  {\n    gr = \"Burrasca Forte\";\n  }\n  else if (i == 10)\n  {\n    gr = \"Tempesta\";\n  }\n  else if (i == 11)\n  {\n    gr = \"Fortunale\";\n  }\n  else if (i == 12)\n  {\n    gr = \"Uragano\";\n  }\nmsg.state = gr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3280,
        "y": 300,
        "wires": [
            [
                "7ce1a0b3.ac9d7"
            ]
        ]
    },
    {
        "id": "b778281.aa2efd8",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "WC Desc",
        "func": "var gr = \"\";\ni = msg.wci;\n\nif (msg.wci == \"n.d.\")\n{\n  gr = \"Non Calcolabile\";\n}\nelse\n{\n if (i > 4)\n {\n  gr = \"Gradevole\";\n }\n else if (i > -6 && i <= 4)\n {\n  gr = \"Freddo\";\n }\n else if (i > -17 && i <= -7)\n {\n  gr = \"Molto Freddo\";\n }\n else if (i > -28 && i <= -17)\n {\n  gr = \"Gelido\";\n }\n else if (i > -56 && i <= -28)\n {\n  gr = \"Estremamente Freddo\";\n }\n else if (i <= -56)\n {\n  gr = \"Gelato\";\n }\n}\nmsg.state = gr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3400,
        "y": 400,
        "wires": [
            [
                "755a7d1a.d6a0e4"
            ]
        ]
    },
    {
        "id": "9e603724.3ff218",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "WC Desc",
        "func": "i = msg.payload;\nvar gr = \"\";\n  if (i > 10)\n  {\n    gr = \"Nessun Disagio\";\n  }\n  else if (i > -1 && i <= 10)\n  {\n    gr = \"Lieve Disagio\";\n  }\n  else if (i > -10 && i <= -1)\n  {\n    gr = \"Disagio\";\n  }\n  else if (i > -18 && i <= -10)\n  {\n    gr = \"Molto Freddo\";\n  }\n  else if (i > -29 && i <= -18)\n  {\n    gr = \"Possibile Congelamento\";\n  }\n  else if (i > -50 && i <= -29)\n  {\n    gr = \"Congelamento\";\n  }\n  else if (i <= -50)\n  {\n    gr = \"Rapido Congelamento\";\n  }\nmsg.state = gr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3400,
        "y": 500,
        "wires": [
            [
                "b420f7e0.f38518",
                "dc56f292.b6c7"
            ]
        ]
    },
    {
        "id": "579b1f0.cce8ae",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "HI Desc",
        "func": "i = msg.hi;\nvar gr = \"\";\n  if (i < 27)\n  {\n    gr = \"Confortevole\";\n  }\n  else if (i >= 27 && i <= 32)\n  {\n    gr = \"Caldo\";\n  }\n  else if (i > 32 && i <= 39)\n  {\n    gr = \"Molto Caldo\";\n  }\n  else if (i > 39 && i <= 54)\n  {\n    gr = \"Attenzione\";\n  }\n  else if (i > 54)\n  {\n    gr = \"Pericolo\";\n  }\n  else if (i == \"n.d.\")\n  {\n    gr = \"Non Calcolabile\";\n  }\nmsg.state = gr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3340,
        "y": 1000,
        "wires": [
            [
                "6b4c64d8.dca50c"
            ]
        ]
    },
    {
        "id": "800c9282.2caab",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "H Desc",
        "func": "i = msg.udx;\nvar gr = \"\";\nif (i == \"n.d.\")\n{\n  gr = \"Non Calcolabile\";\n}\nelse if (i >= 20 && i < 27)\n{\n  gr = \"Benessere\";\n}\nelse if (i >= 27 && i < 30)\n{\n  gr = \"Cautela\";\n}\nelse if (i >= 30 && i < 40)\n{\n  gr = \"Estrema Cautela\";\n}\nelse if (i >= 40 && i < 55)\n{  \n  gr = \"Pericolo\";\n}\nelse if (i >= 55)\n{\n  gr = \"Elevato Pericolo\";\n}\nmsg.state = gr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3340,
        "y": 900,
        "wires": [
            [
                "f71defa8.49a07"
            ]
        ]
    },
    {
        "id": "1ae1e5c.961a21a",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "Charge Status",
        "func": "i = msg.rad;\nvar gr = \"\";\n  if (i <= 50)\n  {\n    gr = \"Not Charging\";\n  }\n  else if (i > 50 && i <= 150)\n  {\n    gr = \"Slow Charging\";\n  }\n  else if (i > 150 && i <= 250)\n  {\n    gr = \"Normal Charging\";\n  }\n  else if (i >250)\n  {\n    gr = \"Fast Charging\";\n  }\nmsg.state = gr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3240,
        "y": 1520,
        "wires": [
            [
                "9cb5f7e5.daf6a8"
            ]
        ]
    },
    {
        "id": "7fcdcc44.716904",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "battery_level",
        "func": "xMax = 100;\nxMin = 1;\nyMax = 3.30;\nyMin = 2.30;\nvar n = msg.volt;\n\nvar percent = (n - yMin) / (yMax - yMin);\nvar val = Math.round(percent * (xMax - xMin) + xMin);\n\nif (val < 0)\n  {\n    val = 0;\n  }\nelse if (val > 100)\n  {\n    val = 100;\n  }\nmsg.batperc = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3230,
        "y": 1620,
        "wires": [
            [
                "b9cd403d.36f3d",
                "a1166dfe.4affa"
            ]
        ]
    },
    {
        "id": "14b65789.bc2658",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "THI Desc",
        "func": "i = msg.thi;\nvar gr = \"\";\n  if (i >= 30)\n  {\n    gr = \"Torrido\";\n  }\n  else if (i >= 26.5 && i < 30)\n  {\n    gr = \"Molto Caldo\";\n  }\n  else if (i >= 20 && i < 26.5)\n  {\n    gr = \"Caldo\";\n  }\n  else if (i >= 15 && i < 20)\n  {\n    gr = \"Confortevole\";\n  }\n  else if (i >= 13 && i < 15)\n  {\n    gr = \"Fresco\";\n  }\n  else if (i > -1.8 && i < 13)\n  {\n    gr = \"Freddo\";\n  }\n  else if (i > -10 && i <= -1.8)\n  {\n    gr = \"Molto Freddo\";\n  }\n  else if (i > -20 && i <= -10)\n  {\n    gr = \"Estr. Freddo\";\n  }\n  else if (i > -40 && i <= 20)\n  {\n    gr = \"Glaciale\";\n  }\n  else if (i <= -40)\n  {\n    gr = \"Iperglaciale\";\n  }\nmsg.state = gr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3340,
        "y": 1100,
        "wires": [
            [
                "e0dda310.d0fd"
            ]
        ]
    },
    {
        "id": "9c17a941.f66ce8",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "UV Desc",
        "func": "i = msg.uv\nvar uv = \"\";\n\nif (i < 3)\n  {\n    uv = \"Bassa\";\n  }\nelse if (i >= 3 && i <= 5)\n  {\n    uv = \"Moderata\";\n  }\nelse if (i > 5 && i <= 7)\n  {\n    uv = \"Alta\";\n  }\nelse if (i > 7 && i <= 10)\n  {\n    uv = \"Molto Alta\";\n  }\nelse if (i > 10)\n  {\n    uv = \"Estrema\";\n  }\nmsg.uvi = uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3220,
        "y": 1380,
        "wires": [
            [
                "3bf62651.68840a"
            ]
        ]
    },
    {
        "id": "1cda100b.ce12b",
        "type": "http request",
        "z": "19cef663.c9958a",
        "name": "WeatherFlow Tempest REST Request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 3320,
        "wires": [
            [
                "3d7efac.9544606"
            ]
        ]
    },
    {
        "id": "58dd142c.28e4ac",
        "type": "comment",
        "z": "19cef663.c9958a",
        "name": "WEATHERFLOW TEMPEST - LOCAL UDP POLL",
        "info": "WEATHERFLOW TEMPEST - LOCAL UDP POLL",
        "x": 240,
        "y": 1680,
        "wires": []
    },
    {
        "id": "4a351e1f.c42ac",
        "type": "comment",
        "z": "19cef663.c9958a",
        "name": "WEATHERFLOW TEMPEST - REMOTE REST POLL",
        "info": "WEATHERFLOW TEMPEST - LOCAL UDP POLL",
        "x": 450,
        "y": 3220,
        "wires": []
    },
    {
        "id": "148bb70d.367459",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "precip_accum_local_day",
        "func": "msg.payload = Number((msg.payload).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3070,
        "y": 3180,
        "wires": [
            [
                "4e71128e.ada3ec"
            ]
        ]
    },
    {
        "id": "df12a4a9.bfacb8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "REST API PAYLOAD",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 3380,
        "wires": []
    },
    {
        "id": "8a2dd918.2334e8",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "lightning_strike_last_epoch",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3080,
        "y": 3300,
        "wires": [
            [
                "b7291c5d.4c69a"
            ]
        ]
    },
    {
        "id": "4c493608.a79008",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "lightning_strike_last_distance",
        "func": "msg.payload = Number((msg.payload).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3080,
        "y": 3360,
        "wires": [
            [
                "523ac842.04f308"
            ]
        ]
    },
    {
        "id": "d81befbc.4f421",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "latitude",
        "func": "msg.payload = Number((msg.payload).toFixed(5));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3300,
        "y": 3000,
        "wires": [
            [
                "a06e3db0.cf6b6"
            ]
        ]
    },
    {
        "id": "952bb0e7.9dd97",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "longitude",
        "func": "msg.payload = Number((msg.payload).toFixed(5));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3300,
        "y": 3060,
        "wires": [
            [
                "bf10a078.282f2"
            ]
        ]
    },
    {
        "id": "470457d3.3c5618",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "elevation",
        "func": "msg.payload = Number((msg.payload).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3300,
        "y": 3120,
        "wires": [
            [
                "8c48b902.74d568"
            ]
        ]
    },
    {
        "id": "4e71128e.ada3ec",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Quantità Precipitazioni Oggi",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Quantità Precipitazioni Oggi"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:weather-pouring"
            },
            {
                "property": "unit_of_measurement",
                "value": "mm"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3640,
        "y": 3180,
        "wires": [
            [
                "b9931455.91c868"
            ]
        ]
    },
    {
        "id": "35c885a7.af010a",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Durata Precipitazioni Oggi",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Durata Precipitazioni Oggi"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:timer-outline"
            },
            {
                "property": "unit_of_measurement",
                "value": "min"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3630,
        "y": 3240,
        "wires": [
            [
                "15787b14.4f8d05"
            ]
        ]
    },
    {
        "id": "a3357119.1ec88",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Ultimo Fulmine Caduto",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Ultimo Fulmine Caduto"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:calendar-clock"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "date",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3630,
        "y": 3300,
        "wires": [
            [
                "93369a68.d1e788"
            ]
        ]
    },
    {
        "id": "523ac842.04f308",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Distanza Ultimo Fulmine",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Distanza Ultimo Fulmine"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:map-marker-distance"
            },
            {
                "property": "unit_of_measurement",
                "value": "km"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3630,
        "y": 3360,
        "wires": [
            [
                "78ed846.822107c"
            ]
        ]
    },
    {
        "id": "80a31981.64b4d8",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Tendenza Pressione",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Tendenza Pressione"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:swap-vertical-bold"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3060,
        "y": 3560,
        "wires": [
            [
                "5d2330b4.d2cdb"
            ]
        ]
    },
    {
        "id": "b7291c5d.4c69a",
        "type": "moment",
        "z": "19cef663.c9958a",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": "1",
        "adjType": "hours",
        "adjDir": "add",
        "format": "fromNow",
        "locale": "it_IT",
        "output": "date",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 3360,
        "y": 3300,
        "wires": [
            [
                "a3357119.1ec88"
            ]
        ]
    },
    {
        "id": "2b510db1.a3bc72",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Nome Stazione",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Nome Stazione"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:tag-text-outline"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 2880,
        "wires": [
            [
                "59bb9324.fe873c"
            ]
        ]
    },
    {
        "id": "5a3e3ad0.11e364",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Nome Pubblico Stazione",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Nome Pubblico Stazione"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:map-marker"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3630,
        "y": 2940,
        "wires": [
            [
                "3c18970c.5015c8"
            ]
        ]
    },
    {
        "id": "a06e3db0.cf6b6",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Latitudine Stazione",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Latitudine"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:latitude"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3610,
        "y": 3000,
        "wires": [
            [
                "e22c2f6c.b123a"
            ]
        ]
    },
    {
        "id": "bf10a078.282f2",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Longitudine Stazione",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Longitudine"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:longitude"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3620,
        "y": 3060,
        "wires": [
            [
                "cdf08c03.a0b1b"
            ]
        ]
    },
    {
        "id": "8c48b902.74d568",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Elevazione Stazione",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Elevazione"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:human-male-height"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3620,
        "y": 3120,
        "wires": [
            [
                "8258d112.cfb39"
            ]
        ]
    },
    {
        "id": "f63cc653.250788",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND CHILL (NEW)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wci",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 380,
        "wires": []
    },
    {
        "id": "241abd3c.7ff6f2",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND SPEED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 220,
        "wires": []
    },
    {
        "id": "fd4fe758.735c08",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND SPEED RT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "windrt",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 1880,
        "wires": []
    },
    {
        "id": "fa4d5ec0.1a6a8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND LULL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "lull",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 160,
        "wires": []
    },
    {
        "id": "86f4b776.2c3948",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND GUST",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "gust",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 580,
        "wires": []
    },
    {
        "id": "9212cf7.0572a3",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND DIRECTION",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dir",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 640,
        "wires": []
    },
    {
        "id": "89cac872.b9a128",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND DIRECTION RT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dirrt",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3880,
        "y": 1940,
        "wires": []
    },
    {
        "id": "e7e32174.8bb93",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "PRESSURE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pressure",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 760,
        "wires": []
    },
    {
        "id": "6213508f.e3c4e",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "TEMPERATURE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 820,
        "wires": []
    },
    {
        "id": "409796a8.537c38",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HUMIDEX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "udx",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3840,
        "y": 880,
        "wires": []
    },
    {
        "id": "2d075b48.48dbe4",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HEAT INDEX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hi",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 980,
        "wires": []
    },
    {
        "id": "9caea6dd.b74268",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "THOM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "thi",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3830,
        "y": 1080,
        "wires": []
    },
    {
        "id": "77e87827.7b4ae8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "DEW POINT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7b573371.86229c",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HUMIDITY",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 1240,
        "wires": []
    },
    {
        "id": "347e24f2.fad28c",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "ILLUMINANCE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ill",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 1300,
        "wires": []
    },
    {
        "id": "3895eef5.ae8b72",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "UV INDEX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "uv",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3840,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b3a8e94e.5de848",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "SOLAR RADIATION",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "rad",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 1460,
        "wires": []
    },
    {
        "id": "a2367f21.5bebc",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "BEAUFORT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "bf",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 280,
        "wires": []
    },
    {
        "id": "b420f7e0.f38518",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND CHILL (OLD)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 480,
        "wires": []
    },
    {
        "id": "dc56f292.b6c7",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND CHILL DESC.",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3880,
        "y": 520,
        "wires": []
    },
    {
        "id": "ac07dc1f.ea25d",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND CHILL DESC.",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3880,
        "y": 420,
        "wires": []
    },
    {
        "id": "12792260.53399e",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "BEAUFORT DESC.",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 320,
        "wires": []
    },
    {
        "id": "b1d6104d.c790c",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND CARDINAL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 700,
        "wires": []
    },
    {
        "id": "ad00abce.22edd8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND CARDINAL RT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3880,
        "y": 2000,
        "wires": []
    },
    {
        "id": "1a3e346b.275c4c",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HUMIDEX DESC.",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 920,
        "wires": []
    },
    {
        "id": "abc58eea.fa4c8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HEAT INDEX DESC.",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3880,
        "y": 1020,
        "wires": []
    },
    {
        "id": "733184d7.90283c",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "THOM DESC.",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 1120,
        "wires": []
    },
    {
        "id": "703bfdfa.28dd74",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "UV DESC.",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "uvi",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 1400,
        "wires": []
    },
    {
        "id": "2fd84226.67ad2e",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "PRECIPITATION TYPE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "rtype",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3880,
        "y": 1700,
        "wires": []
    },
    {
        "id": "6254bf5.ebeed4",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "TEMPEST S/N",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 2060,
        "wires": []
    },
    {
        "id": "9b8ada6e.1a71b8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HUB S/N",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3840,
        "y": 2460,
        "wires": []
    },
    {
        "id": "c53ba2b1.ef209",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "BATTERY (%)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "batperc",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f0083d4b.8800b",
        "type": "switch",
        "z": "19cef663.c9958a",
        "name": "Metrics",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 18,
        "x": 2320,
        "y": 1100,
        "wires": [
            [],
            [
                "5f9f6fe1.24b1e"
            ],
            [
                "f5692ff8.bc997"
            ],
            [
                "37b3e764.555248"
            ],
            [
                "325e9b3f.c66e24"
            ],
            [],
            [
                "8add765d.e86638"
            ],
            [
                "3131056a.add42a"
            ],
            [
                "f5f19e9c.456f"
            ],
            [
                "f6f1e606.0589f8"
            ],
            [
                "d46a09e4.ddd888"
            ],
            [
                "dcc84006.74afd"
            ],
            [],
            [
                "f392d1a.ae5f03"
            ],
            [
                "74bafa05.89dfa4"
            ],
            [
                "83341290.66a23"
            ],
            [
                "e869fe3f.e670d"
            ],
            []
        ],
        "inputLabels": [
            "Splitted Payload"
        ],
        "outputLabels": [
            "Time Epoch",
            "Wind Lull (m/s)",
            "Wind Avg (m/s)",
            "Wind Gust (m/s)",
            "Wind Direction (deg)",
            "Wind Sample Interval (s)",
            "Station Pressure (mbar)",
            "Air Temperature (°C)",
            "Relative Humidity (%H)",
            "Illuminance (Lux)",
            "UV (Index)",
            "Solar Radiation (W/m^2)",
            "Precip Accumulated (mm)",
            "Precipitation Type (0/1/2)",
            "Lightning Strike Avg Distance (km)",
            "Lightning Strike Count",
            "Battery (V)",
            "Report Interval (min)"
        ]
    },
    {
        "id": "a52725f2.01fb58",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.obs[0]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 1100,
        "wires": [
            [
                "e42d2ac5.2259e8"
            ]
        ]
    },
    {
        "id": "e42d2ac5.2259e8",
        "type": "split",
        "z": "19cef663.c9958a",
        "name": "Metrics Array Splitter",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2140,
        "y": 1100,
        "wires": [
            [
                "f0083d4b.8800b"
            ]
        ]
    },
    {
        "id": "ff74b109.2567",
        "type": "join",
        "z": "19cef663.c9958a",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2870,
        "y": 1040,
        "wires": [
            [
                "31ae7faa.afcc3",
                "419729a3.73e9b8",
                "18957883.c30c07",
                "3da00adf.b971d6"
            ]
        ]
    },
    {
        "id": "54ac0440.54c25c",
        "type": "join",
        "z": "19cef663.c9958a",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2890,
        "y": 440,
        "wires": [
            [
                "687b31e9.02001",
                "611d14cd.07ce4c"
            ]
        ]
    },
    {
        "id": "a8b14ec3.b54b7",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.ob",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2080,
        "y": 1900,
        "wires": [
            [
                "55fe7c7f.957904"
            ]
        ]
    },
    {
        "id": "f47cfd00.2dc29",
        "type": "switch",
        "z": "19cef663.c9958a",
        "name": "Metrics Realtime",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 2790,
        "y": 1900,
        "wires": [
            [],
            [
                "f03b367.1c5c8c8"
            ],
            [
                "e3df819.767148"
            ]
        ],
        "outputLabels": [
            "Time Epoch",
            "Wind Speed RT (m/s)",
            "Wind Direction RT (deg)"
        ]
    },
    {
        "id": "55fe7c7f.957904",
        "type": "split",
        "z": "19cef663.c9958a",
        "name": "Metrics RT Array Splitter",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2430,
        "y": 1900,
        "wires": [
            [
                "f47cfd00.2dc29"
            ]
        ]
    },
    {
        "id": "2847ae09.8f5b82",
        "type": "switch",
        "z": "19cef663.c9958a",
        "name": "Tempest PWS Status",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2900,
        "y": 2120,
        "wires": [
            [
                "7a31e985.f62d98"
            ],
            [],
            [],
            [
                "76fb4846.e8fcf8"
            ],
            [
                "ce69c028.22ccf"
            ],
            [
                "7ea2ea8a.501584"
            ]
        ],
        "outputLabels": [
            "Tempest Station S/N",
            "Uptime (s)",
            "Battery (V)",
            "Tempest Firmware",
            "Tempest RSSI",
            "Sensor Status (bin)"
        ]
    },
    {
        "id": "a0f83bae.c5bd58",
        "type": "split",
        "z": "19cef663.c9958a",
        "name": "Payload Splitter",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2060,
        "y": 2120,
        "wires": [
            [
                "2847ae09.8f5b82"
            ]
        ]
    },
    {
        "id": "4b8389de.9863f8",
        "type": "split",
        "z": "19cef663.c9958a",
        "name": "Payload Splitter",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2060,
        "y": 2560,
        "wires": [
            [
                "1daa604b.405ed"
            ]
        ]
    },
    {
        "id": "1daa604b.405ed",
        "type": "switch",
        "z": "19cef663.c9958a",
        "name": "Tempest HUB Status",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 2900,
        "y": 2560,
        "wires": [
            [
                "87d68520.4d4aa8"
            ],
            [
                "c578be80.1757d"
            ],
            [],
            [
                "453c40d4.658da"
            ],
            [
                "65c251ca.058d2"
            ]
        ],
        "outputLabels": [
            "HUB S/N",
            "HUB Firmware",
            "Uptime (s)",
            "HUB RSSI",
            "IP Address"
        ]
    },
    {
        "id": "e8da17a6.8b3298",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HUB FW",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3840,
        "y": 2520,
        "wires": []
    },
    {
        "id": "47dceb75.cfa3d4",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "TEMPEST FW",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 2120,
        "wires": []
    },
    {
        "id": "121848b6.6b3767",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "TEMPEST RSSI",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 2180,
        "wires": []
    },
    {
        "id": "5b878faf.b5519",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HUB RSSI",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 2580,
        "wires": []
    },
    {
        "id": "dd19dad.dd22528",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "BATTERY (V)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "volt",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 1640,
        "wires": []
    },
    {
        "id": "40d4c8d5.6b22e8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "CHARGE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3840,
        "y": 1520,
        "wires": []
    },
    {
        "id": "d9ab1ee2.b2ccf",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload.obs[0]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 3320,
        "wires": [
            [
                "515d1f66.64cb7"
            ]
        ]
    },
    {
        "id": "515d1f66.64cb7",
        "type": "split",
        "z": "19cef663.c9958a",
        "name": "Metrics Array Splitter",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1960,
        "y": 3320,
        "wires": [
            [
                "105685e2.2948da"
            ]
        ]
    },
    {
        "id": "251293be.475dec",
        "type": "switch",
        "z": "19cef663.c9958a",
        "name": "API Metrics",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "19",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "21",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "23",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "24",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 26,
        "x": 2610,
        "y": 3320,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [
                "148bb70d.367459"
            ],
            [],
            [
                "35c885a7.af010a"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [
                "8a2dd918.2334e8"
            ],
            [
                "4c493608.a79008"
            ],
            [
                "afede312.5a83e"
            ],
            [
                "1e0a08e1.78ae27"
            ],
            [
                "e7b82d2e.b60d1"
            ],
            [],
            [],
            [],
            [],
            [
                "80a31981.64b4d8"
            ]
        ],
        "outputLabels": [
            "timestamp",
            "air_temperature",
            "relative_humidity",
            "precip",
            "precip_accum_last_1hr",
            "precip_accum_local_day",
            "precip_accum_local_yesterday",
            "precip_minutes_local_day",
            "precip_minutes_local_yesterday",
            "wind_avg",
            "wind_direction",
            "wind_gust",
            "wind_lull",
            "solar_radiation",
            "uv",
            "brightness",
            "lightning_strike_last_epoch",
            "lightning_strike_last_distance",
            "lightning_strike_count",
            "lightning_strike_count_last_1hr",
            "lightning_strike_count_last_3hr",
            "feels_like",
            "heat_index",
            "wind_chill",
            "dew_point",
            "pressure_trend"
        ]
    },
    {
        "id": "105685e2.2948da",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "Split Clear",
        "rules": [
            {
                "t": "delete",
                "p": "parts.id",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "parts.type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "parts.key",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "parts.count",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 3320,
        "wires": [
            [
                "251293be.475dec"
            ]
        ]
    },
    {
        "id": "c90eaaaf.66be08",
        "type": "switch",
        "z": "19cef663.c9958a",
        "name": "API Data",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2860,
        "y": 2960,
        "wires": [
            [
                "9f46b218.6af2"
            ],
            [
                "2b510db1.a3bc72"
            ],
            [
                "5a3e3ad0.11e364"
            ],
            [
                "d81befbc.4f421"
            ],
            [
                "952bb0e7.9dd97"
            ],
            [
                "470457d3.3c5618"
            ]
        ],
        "outputLabels": [
            "Station ID",
            "Station Name",
            "Station Public Name",
            "Latitude",
            "Longitude",
            "Elevation"
        ]
    },
    {
        "id": "2d43915e.a245ce",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": " obs Clear",
        "rules": [
            {
                "t": "delete",
                "p": "payload.obs",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 2960,
        "wires": [
            [
                "cc19008f.399c"
            ]
        ]
    },
    {
        "id": "cc19008f.399c",
        "type": "split",
        "z": "19cef663.c9958a",
        "name": "Data Array Splitter",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1950,
        "y": 2960,
        "wires": [
            [
                "1b7b0468.22fa4c"
            ]
        ]
    },
    {
        "id": "1b7b0468.22fa4c",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "Split Clear",
        "rules": [
            {
                "t": "delete",
                "p": "parts.count",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "parts.id",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "parts.type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "parts.key",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2150,
        "y": 2960,
        "wires": [
            [
                "c90eaaaf.66be08"
            ]
        ]
    },
    {
        "id": "5d2330b4.d2cdb",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "TENDENZA PRESSIONE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3890,
        "y": 3560,
        "wires": []
    },
    {
        "id": "b9931455.91c868",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "QUANTITA' PRECIPITAZIONI OGGI",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3920,
        "y": 3180,
        "wires": []
    },
    {
        "id": "15787b14.4f8d05",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "DURATA PRECIPITAZIONI OGGI",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3910,
        "y": 3240,
        "wires": []
    },
    {
        "id": "93369a68.d1e788",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "ULTIMO FULMINE CADUTO",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3900,
        "y": 3300,
        "wires": []
    },
    {
        "id": "78ed846.822107c",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "DISTANZA ULTIMO FULMINE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3910,
        "y": 3360,
        "wires": []
    },
    {
        "id": "e22c2f6c.b123a",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "LATITUDINE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 3000,
        "wires": []
    },
    {
        "id": "cdf08c03.a0b1b",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "LONGITUDINE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 3060,
        "wires": []
    },
    {
        "id": "8258d112.cfb39",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "ELEVAZIONE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 3120,
        "wires": []
    },
    {
        "id": "59bb9324.fe873c",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "NOME STAZIONE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 2880,
        "wires": []
    },
    {
        "id": "3c18970c.5015c8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "NOME PUBBLICO STAZIONE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3910,
        "y": 2940,
        "wires": []
    },
    {
        "id": "a1166dfe.4affa",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Battery Volt",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Tensione Batteria"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:battery-charging-high"
            },
            {
                "property": "unit_of_measurement",
                "value": "V"
            }
        ],
        "state": "volt",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 1640,
        "wires": [
            [
                "dd19dad.dd22528"
            ]
        ]
    },
    {
        "id": "9cb5f7e5.daf6a8",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Charging Status",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Charging Status"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:battery-charging"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "state",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 1520,
        "wires": [
            [
                "40d4c8d5.6b22e8"
            ]
        ]
    },
    {
        "id": "76fb4846.e8fcf8",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Tempest FW",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Station Firmware"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:cloud-download"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 2120,
        "wires": [
            [
                "47dceb75.cfa3d4"
            ]
        ]
    },
    {
        "id": "ce69c028.22ccf",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Tempest RSSI",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Station RSSI"
            },
            {
                "property": "device_class",
                "value": "signal_strength"
            },
            {
                "property": "icon",
                "value": "mdi:radio-tower"
            },
            {
                "property": "unit_of_measurement",
                "value": "dB"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 2180,
        "wires": [
            [
                "121848b6.6b3767"
            ]
        ]
    },
    {
        "id": "c578be80.1757d",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Hub FW",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Hub Firmware"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:cloud-download"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 2520,
        "wires": [
            [
                "e8da17a6.8b3298"
            ]
        ]
    },
    {
        "id": "453c40d4.658da",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Hub RSSI",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Hub RSSI"
            },
            {
                "property": "device_class",
                "value": "signal_strength"
            },
            {
                "property": "icon",
                "value": "mdi:wifi"
            },
            {
                "property": "unit_of_measurement",
                "value": "dB"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3580,
        "y": 2580,
        "wires": [
            [
                "5b878faf.b5519"
            ]
        ]
    },
    {
        "id": "9f46b218.6af2",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Tempest ID",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Station ID"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:source-branch-check"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3590,
        "y": 2820,
        "wires": [
            [
                "fdfe73b5.21646"
            ]
        ]
    },
    {
        "id": "fdfe73b5.21646",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "STATION ID",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 2820,
        "wires": []
    },
    {
        "id": "a54a33a9.d2bfa",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "fromip",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "ip",
                "pt": "msg",
                "to": "payload.ip",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "port",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1720,
        "wires": [
            [
                "2ac409b2.a503b6"
            ]
        ]
    },
    {
        "id": "83d91de6.16631",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "Clear",
        "rules": [
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.timezone",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.is_public",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.status",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.station_units",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.outdoor_keys",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 3320,
        "wires": [
            [
                "df12a4a9.bfacb8",
                "2d43915e.a245ce",
                "d9ab1ee2.b2ccf"
            ]
        ]
    },
    {
        "id": "53bce811.e74148",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Lightning Count",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - Fulmini Caduti"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:flash"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "topic.count",
        "stateType": "msg",
        "attributes": [
            {
                "property": "Caduti in 1 Ora",
                "value": "topic.1h",
                "valueType": "msg"
            },
            {
                "property": "Caduti in 3 Ore",
                "value": "topic.3h",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3600,
        "y": 3460,
        "wires": [
            [
                "621f5636.849118",
                "cda4cc12.65e65",
                "76cffbb3.719cf4"
            ]
        ]
    },
    {
        "id": "621f5636.849118",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "FULMINI CADUTI",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic.count",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 3420,
        "wires": []
    },
    {
        "id": "cda4cc12.65e65",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "FULMINI IN 1 ORA",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic.1h",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 3460,
        "wires": []
    },
    {
        "id": "76cffbb3.719cf4",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "FULMINI IN 3 ORE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic.3h",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3870,
        "y": 3500,
        "wires": []
    },
    {
        "id": "afede312.5a83e",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic.count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3050,
        "y": 3420,
        "wires": [
            [
                "ea2dfa19.189bd8"
            ]
        ]
    },
    {
        "id": "1e0a08e1.78ae27",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic.1h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3050,
        "y": 3460,
        "wires": [
            [
                "ea2dfa19.189bd8"
            ]
        ]
    },
    {
        "id": "e7b82d2e.b60d1",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic.3h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3050,
        "y": 3500,
        "wires": [
            [
                "ea2dfa19.189bd8"
            ]
        ]
    },
    {
        "id": "ea2dfa19.189bd8",
        "type": "join",
        "z": "19cef663.c9958a",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "topic",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3350,
        "y": 3460,
        "wires": [
            [
                "53bce811.e74148"
            ]
        ]
    },
    {
        "id": "b6d11d5c.48bbb",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "LIGHTNING COUNT ST",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "lcount",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3890,
        "y": 1820,
        "wires": []
    },
    {
        "id": "5a111e3e.697f4",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "LIGHTNING DISTANTE ST",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ldist",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3900,
        "y": 1760,
        "wires": []
    },
    {
        "id": "65c251ca.058d2",
        "type": "ha-entity",
        "z": "19cef663.c9958a",
        "name": "Tempest IP Address",
        "server": "419830c5.54d54",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Tempest - IP Address"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:ip-network"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 3620,
        "y": 2640,
        "wires": [
            [
                "ce7a52e6.6d73f"
            ]
        ]
    },
    {
        "id": "ce7a52e6.6d73f",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "IP ADDRESS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ip",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3850,
        "y": 2640,
        "wires": []
    },
    {
        "id": "d8ca7bf.4a98588",
        "type": "status",
        "z": "19cef663.c9958a",
        "name": "",
        "scope": [
            "328fb3f1.8ddddc",
            "6bae3c59.c64244",
            "326b22d7.6298be",
            "a88477e2.da0688",
            "dc73c88d.5d2df8",
            "b2ece18c.83dc7",
            "25c5ae97.8f9c32",
            "fe04c4d2.5d7bd8",
            "7643895b.8ed9f8",
            "65e79bdb.db3d34",
            "3bf62651.68840a",
            "7c0eda44.c282b4",
            "b9cd403d.36f3d",
            "7a31e985.f62d98",
            "87d68520.4d4aa8",
            "2d9d9afc.f86876",
            "da3a4f32.5b1da",
            "24e45ec.d1893a2",
            "813196b3.0aaf08",
            "9835ca36.fc7c18",
            "fdf449c9.e23f88",
            "ffdef134.3ea13",
            "eaf5cbd1.d3ee38",
            "d0d6698c.29dd18",
            "7ce1a0b3.ac9d7",
            "25e548c9.8b7808",
            "e0dda310.d0fd",
            "6b4c64d8.dca50c",
            "755a7d1a.d6a0e4",
            "f71defa8.49a07",
            "2992505e.a275a",
            "99789621.984ec8",
            "e8c18dad.a414d",
            "4e71128e.ada3ec",
            "35c885a7.af010a",
            "a3357119.1ec88",
            "523ac842.04f308",
            "80a31981.64b4d8",
            "2b510db1.a3bc72",
            "5a3e3ad0.11e364",
            "a06e3db0.cf6b6",
            "bf10a078.282f2",
            "8c48b902.74d568",
            "a1166dfe.4affa",
            "9cb5f7e5.daf6a8",
            "76fb4846.e8fcf8",
            "ce69c028.22ccf",
            "c578be80.1757d",
            "453c40d4.658da",
            "9f46b218.6af2",
            "53bce811.e74148",
            "65c251ca.058d2"
        ],
        "x": 300,
        "y": 2540,
        "wires": [
            [
                "cb4bee2f.59aca"
            ]
        ]
    },
    {
        "id": "cb4bee2f.59aca",
        "type": "join",
        "z": "19cef663.c9958a",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "status.fill",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "53",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 2540,
        "wires": [
            [
                "e61d57d0.8e3668"
            ]
        ]
    },
    {
        "id": "e61d57d0.8e3668",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "",
        "func": "const arrayToCount = msg.status.fill;\nconst result = arrayToCount.filter(i => i === \"green\").length;\nif (result == 53)\n  {\n    msg.go = true;\n    return msg;\n  }\nelse\n  {\n    msg.go = false;\n    return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "flow.set(\"go\", false);\nreturn;",
        "finalize": "",
        "x": 600,
        "y": 2540,
        "wires": [
            [
                "794fcb2c.1e6154"
            ]
        ]
    },
    {
        "id": "24329117.519d7e",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.go",
                "pt": "msg",
                "to": "go",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1740,
        "wires": [
            [
                "83299755.369328"
            ]
        ]
    },
    {
        "id": "794fcb2c.1e6154",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "go",
                "pt": "flow",
                "to": "go",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 2540,
        "wires": [
            [
                "baa66b93.af82d8"
            ]
        ]
    },
    {
        "id": "83299755.369328",
        "type": "traffic",
        "z": "19cef663.c9958a",
        "name": "",
        "property_allow": "payload.go",
        "filter_allow": "true",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": true,
        "property_stop": "payload.go",
        "filter_stop": "false",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 1090,
        "y": 1740,
        "wires": [
            [
                "ab6736d8.03a7f8"
            ]
        ]
    },
    {
        "id": "2ac409b2.a503b6",
        "type": "join",
        "z": "19cef663.c9958a",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 1740,
        "wires": [
            [
                "24329117.519d7e"
            ]
        ]
    },
    {
        "id": "3edeb1d7.2bfc1e",
        "type": "inject",
        "z": "19cef663.c9958a",
        "name": "",
        "props": [
            {
                "p": "payload.go",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 570,
        "y": 1760,
        "wires": [
            [
                "2ac409b2.a503b6"
            ]
        ]
    },
    {
        "id": "3d7efac.9544606",
        "type": "join",
        "z": "19cef663.c9958a",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 3320,
        "wires": [
            [
                "17dd2b96.a4e4c4"
            ]
        ]
    },
    {
        "id": "17dd2b96.a4e4c4",
        "type": "change",
        "z": "19cef663.c9958a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.go",
                "pt": "msg",
                "to": "go",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 3320,
        "wires": [
            [
                "b8557d65.92825"
            ]
        ]
    },
    {
        "id": "eecca36.bd1b46",
        "type": "traffic",
        "z": "19cef663.c9958a",
        "name": "",
        "property_allow": "payload.go",
        "filter_allow": "true",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": true,
        "property_stop": "payload.go",
        "filter_stop": "false",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 1410,
        "y": 3320,
        "wires": [
            [
                "83d91de6.16631"
            ]
        ]
    },
    {
        "id": "3ab19e47.c63552",
        "type": "inject",
        "z": "19cef663.c9958a",
        "name": "",
        "props": [
            {
                "p": "payload.go",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 790,
        "y": 3360,
        "wires": [
            [
                "3d7efac.9544606"
            ]
        ]
    },
    {
        "id": "b8557d65.92825",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "",
        "func": "if (msg.payload.go == true && msg.statusCode == 200)\n{\n    msg.payload.go = true;\n}\nelse\n{\n    msg.payload.go = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1260,
        "y": 3320,
        "wires": [
            [
                "eecca36.bd1b46"
            ]
        ]
    },
    {
        "id": "6f0d6019.f5027",
        "type": "comment",
        "z": "19cef663.c9958a",
        "name": "ENTITY READY AND REST SERVER CONNECTED CONTROL GO/NO-GO",
        "info": "",
        "x": 1140,
        "y": 3280,
        "wires": []
    },
    {
        "id": "5ef64bfc.6271d4",
        "type": "comment",
        "z": "19cef663.c9958a",
        "name": "ENTITY READY CONTROL - GO/NO-GO",
        "info": "",
        "x": 900,
        "y": 1700,
        "wires": []
    },
    {
        "id": "db6e0548.c7c6f8",
        "type": "comment",
        "z": "19cef663.c9958a",
        "name": "HA-ENTITY READY CHECK",
        "info": "",
        "x": 580,
        "y": 2500,
        "wires": []
    },
    {
        "id": "baa66b93.af82d8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "go",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2540,
        "wires": []
    },
    {
        "id": "4b452e58.42caf",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "LIGHTNING FAILED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4540,
        "y": 2080,
        "wires": []
    },
    {
        "id": "d2b33f20.c6fbf",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "LIGHTNING NOISE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4530,
        "y": 2140,
        "wires": []
    },
    {
        "id": "b2d4eee3.74ef4",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "LIGHTNING DISTURBER",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4550,
        "y": 2200,
        "wires": []
    },
    {
        "id": "105bf7d1.084a88",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "PRESSURE FAILED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4540,
        "y": 2260,
        "wires": []
    },
    {
        "id": "dec13a9c.7a2248",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "TEMPERATURE FAILED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4550,
        "y": 2320,
        "wires": []
    },
    {
        "id": "d19f4533.f2b7f8",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "HUMIDITY FAILED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4530,
        "y": 2380,
        "wires": []
    },
    {
        "id": "1e196341.bb5bfd",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "WIND FAILED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4520,
        "y": 2440,
        "wires": []
    },
    {
        "id": "78e38e12.84338",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "RAIN FAILED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4510,
        "y": 2500,
        "wires": []
    },
    {
        "id": "569c18c7.a4d368",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "LIGHT/UV FAILED",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4530,
        "y": 2560,
        "wires": []
    },
    {
        "id": "e3e5b2f1.6d5a8",
        "type": "inject",
        "z": "19cef663.c9958a",
        "name": "API KEY",
        "props": [
            {
                "p": "payload.key",
                "v": "API-KEY",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 140,
        "y": 3300,
        "wires": [
            [
                "f1466b78.c3fec8"
            ]
        ]
    },
    {
        "id": "e5dfc499.eda3c8",
        "type": "inject",
        "z": "19cef663.c9958a",
        "name": "STATION ID",
        "props": [
            {
                "p": "payload.id",
                "v": "STATION ID",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 130,
        "y": 3340,
        "wires": [
            [
                "f1466b78.c3fec8"
            ]
        ]
    },
    {
        "id": "d5be3e17.13ba1",
        "type": "function",
        "z": "19cef663.c9958a",
        "name": "",
        "func": "const API_KEY = msg.payload.key;\nconst STATION_ID = msg.payload.id;\n\nmsg.url = \"https://swd.weatherflow.com/swd/rest/observations/station/\" + STATION_ID + \"?token=\" + API_KEY;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 3320,
        "wires": [
            [
                "47ddcc3a.dc1dc4",
                "1cda100b.ce12b"
            ]
        ]
    },
    {
        "id": "f1466b78.c3fec8",
        "type": "join",
        "z": "19cef663.c9958a",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 3320,
        "wires": [
            [
                "d5be3e17.13ba1"
            ]
        ]
    },
    {
        "id": "47ddcc3a.dc1dc4",
        "type": "debug",
        "z": "19cef663.c9958a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 3280,
        "wires": []
    },
    {
        "id": "419830c5.54d54",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]